@page "/CargoAddEdit"
@using Models
@inject IJSRuntime JS

@if (IsVisible)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@Cargo" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3">
                            <label for="CargoName">Cargo Name:</label>
                            <InputText id="CargoName" @bind-Value="Cargo.CargoName" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="CargoType">Cargo GroupType(unit):</label>
                            <InputText id="CargoType" @bind-Value="Cargo.CargoType" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="hsn">HSN:</label>
                            <InputText id="hsn" @bind-Value="Cargo.CargoHsn" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="CargoRemarks">Remarks:</label>
                            <InputText id="CargoRemarks" @bind-Value="Cargo.CargoRemarks" class="form-control" />
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">@ButtonText</button>
                            <button type="button" class="btn btn-secondary" @onclick="CloseModal">Cancel</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Cargo Cargo { get; set; } = new Cargo();
    [Parameter] public string Title { get; set; } = "Add Cargo";
    [Parameter] public string ButtonText { get; set; } = "Add";
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback OnSubmit { get; set; }

    private async Task HandleValidSubmit()
    {
        await OnSubmit.InvokeAsync();
    }

    private async Task CloseModal() => await OnClose.InvokeAsync();
}