@using Microsoft.AspNetCore.Components
<!-- Mobile Toggle Button -->
<input type="checkbox" id="navbarToggle" class="navbar-toggler" @onchange="ToggleNavMenu" checked="@(!collapseNavMenu)" />
<label for="navbarToggle" class="custom-toggler">
   @*  <span class="custom-bar"></span>
    <span class="custom-bar"></span>
    <span class="custom-bar"></span> *@
</label>

<!-- Header Row -->
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="css/img/freightboo.png"
                 alt="FreightBook Logo"
                 style="width: 70px; height: 70px; object-fit: contain; position: relative; top: -20px;" />
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick='() => { HandleMenuClick("Home"); HandleNavLinkClick(); }'>
                <img src="Icon/house.png" class="menu-icon" style="font-size: 1.5rem; height:25px; margin-right: 10px; vertical-align: middle;" />Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LrGRid" @onclick='() => { HandleMenuClick("Home"); HandleNavLinkClick(); }'>
                <img src="Icon/icons8-form-50.png" class="menu-icon" style="font-size: 1.5rem;height:25px; margin-right: 10px; vertical-align: middle;" />LR
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Reprt" @onclick='() => { HandleMenuClick("Home"); HandleNavLinkClick(); }'>
                <img src="Icon/icons8-form-50.png" class="menu-icon" style="font-size: 1.5rem;height:25px; margin-right: 10px; vertical-align: middle;" />test
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="#" @onclick:preventDefault="true" @onclick='() => HandleMenuClick("Master")'>
                <span class="bi bi-folder" style="font-size: 1.5rem; margin-right: 10px; vertical-align: middle;"></span>Master ▾
            </a>

            <div class="submenu" style="display: @(menuStates["Master"] ? "block" : "none"); margin-left: 20px;">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="cargo-list" @onclick="HandleNavLinkClick">
                        <img src="Icon/products.png" class="menu-icon" style="font-size: 1.5rem;height:25px; margin-right: 10px;" />Cargo
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="country" @onclick="HandleNavLinkClick">
                        <img src="Icon/icons8-asia-50.png" class="menu-icon" style="font-size: 1.5rem;height:25px; margin-right: 10px;" />Country
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="location" @onclick="HandleNavLinkClick">
                        <img src="Icon/map.png" class="menu-icon" style="font-size: 1.5rem;height:25px; margin-right: 10px;" />Location
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="notifyGrid" @onclick="HandleNavLinkClick">
                        <img src="Icon/bell.png" class="menu-icon" style="font-size: 1.5rem;height:25px; margin-right: 10px;" />Notify
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="vehicle" @onclick="HandleNavLinkClick">
                        <img src="Icon/icons8-vehicle-100.png" class="menu-icon" style="font-size: 1.5rem;height:25px; margin-right: 10px;" />Vehicle
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="vehicleType" @onclick="HandleNavLinkClick">
                        <img src="Icon/vehicles.png" class="menu-icon" style="height:25px; " />VehicleType
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tracking" @onclick="HandleNavLinkClick">
                        <img src="Icon/vehicles.png" class="menu-icon" style="height:25px; " />VehicleTrack
                    </NavLink>
                </div>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private Dictionary<string, bool> menuStates = new()
    {
        {"Home", false},
        {"Master", false}
        
    };

    private void ToggleNavMenu(Microsoft.AspNetCore.Components.ChangeEventArgs e)

    {
        if (e?.Value is bool value)
        {
            collapseNavMenu = !value;
            if (collapseNavMenu)
            {
                foreach (var key in menuStates.Keys.ToList())
                {
                    menuStates[key] = false;
                }
            }
        }
    }

    private void HandleMenuClick(string menuKey)
    {
        foreach (var key in menuStates.Keys.ToList())
        {
            menuStates[key] = key == menuKey ? !menuStates[key] : false;
        }

        // Don't collapse the full menu when toggling submenus
        StateHasChanged();
    }

    private void HandleNavLinkClick()
    {
        // Only collapse on mobile; rely on CSS media query behavior
        collapseNavMenu = true;
        StateHasChanged();
    }
}
