<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="css/img/freightboo.png"
                 alt="FreightBook Logo"
                 style="width: 70px; height: 70px; object-fit: contain;position: relative; top: -20px; background:radial-gradient();" />
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
     
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="Icon/house.png" class="menu-icon" style="height:25px"/>&nbsp;Home
            </NavLink>
        </div>


      

             <div class="nav-item px-3">
            <NavLink class="nav-link" href="LrGRid">
                <img src="Icon/icons8-form-50.png" class="menu-icon" style="height:25px" />&nbsp; LR
            </NavLink>
           
                
     
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dateedit">
                <img src="Icon/icons8-form-50.png" class="menu-icon" style="height:25px" />&nbsp; devdate
            </NavLink>



        </div>
      @*   <div class="dropdown">
             <div class="nav-item px-3">
     
                  <NavLink class="nav-link" >
                <img src="Icon/icons8-arrow-50.png" class="menu-icon" style="height:25px" />&nbsp; Master
           </NavLink>
           
        </div>
            <div class="dropdown-content">
           <div class="nav-item px-3" >
            <NavLink class="nav-link" href="cargolist" >

                <img src="Icon/products.png" class="menu-icon" style="height:25px" />&nbsp; Cargo list
          
            </NavLink>
        </div>


        
        
           
     

       
        <!-- <div class="nav-item px-3"style="visibility:@CssStyle">
            <NavLink class="nav-link" href="accounts">
                <img src="Icon/users.png" class="menu-icon" style="height:25px" />&nbsp; Accounts
            </NavLink>
        </div> -->
      
        <div class="nav-item px-3" >
            <NavLink class="nav-link" href="country">
                <img src="Icon/icons8-asia-50.png" class="menu-icon" style="height:25px" />&nbsp; Country
            </NavLink>
        </div>
        <!--  <div class="nav-item px-3"style="visibility:@CssStyle">
            <NavLink class="nav-link" href="GroupGrid">
                <img src="Icon/people.png" class="menu-icon" style="height:25px" />&nbsp; AccountGroup
            </NavLink>
        </div> -->
       <!--  <div class="nav-item px-3" style="visibility:@CssStyle">
            <NavLink class="nav-link" href="currencies">
                <img src="Icon/money.png" class="menu-icon" style="height:25px" />&nbsp; Currency
            </NavLink>
        </div>   -->
        <div class="nav-item px-3" >
            <NavLink class="nav-link" href="location">
                <img src="Icon/map.png" class="menu-icon" style="height:25px" />&nbsp;  Location
            </NavLink>
        </div>
        <div class="nav-item px-3" >
            <NavLink class="nav-link" href="notifyGrid">
                <img src="Icon/bell.png" class="menu-icon" style="height:25px" />&nbsp; Notify
            </NavLink>
        </div>
     <!--   <div class="nav-item px-3"style="visibility:@CssStyle">
            <NavLink class="nav-link" href="state">
                <img src="Icon/india.png" class="menu-icon" style="height:25px" />&nbsp;  State
            </NavLink>
           </div> -->
           <div class="nav-item px-3" >
            <NavLink class="nav-link" href="vehicle">
                <img src="Icon/icons8-vehicle-100.png" class="menu-icon" style="height:30px" />&nbsp;  Vehicle
            </NavLink>
        </div>
        <div class="nav-item px-3" >
            <NavLink class="nav-link" href="vehicleType">
                <img src="Icon/vehicles.png" class="menu-icon" style="height:30px" />&nbsp; Vehicle Type
            </NavLink>
        </div>
    
      
        </div>
        </div>
 *@

 <div class="dropdown" onclick="toggleDropdown(this).click()">
    <div class="nav-item px-3" >
        <NavLink class="nav-link">
            <img src="Icon/icons8-arrow-50.png" class="menu-icon" style="height:25px;" />&nbsp; Master
        </NavLink>
    </div>
    <div class="dropdown-content">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cargolist">
                <img src="Icon/products.png" class="menu-icon" style="height:25px;" />&nbsp; Cargo list
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="country">
                <img src="Icon/icons8-asia-50.png" class="menu-icon" style="height:25px;" />&nbsp; Country
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="location">
                <img src="Icon/map.png" class="menu-icon" style="height:25px;" />&nbsp; Location
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notifyGrid">
                <img src="Icon/bell.png" class="menu-icon" style="height:25px;" />&nbsp; Notify
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vehicle">
                <img src="Icon/icons8-vehicle-100.png" class="menu-icon" style="height:30px;" />&nbsp; Vehicle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vehicleType">
                <img src="Icon/vehicles.png" class="menu-icon" style="height:30px;" />&nbsp; Vehicle Type
            </NavLink>
        </div>
    </div>
</div>


    </nav>
</div>

@code {


}
<script>
   function toggleDropdown(element) {
        element.parentElement.classList.toggle("open");
            }
</script>

