@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    [Inject] private NavigationManager NavigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var token = await SecureStorage.GetAsync("authToken");

        if (string.IsNullOrEmpty(token))
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}